<h1> <%= @restaurant.name %> </h1>
<h3> <%= @restaurant.address %> </h3>
<h3> <%= @restaurant.category.capitalize %> </h3>
<br>
<% @restaurant.reviews.each do |review| %>
  <%= review.content %> <%= review.rating %> <br>
<% end %>
<br>
<%= render "reviews/new", restaurant: @restaurant, review: @review %>

<%= link_to "Go back to restaurants", restaurants_path %>
